body {
  background-color: #FDFBD4;
  color: brown;
}

#mysection {
  overflow: scroll;
  overflow-x: hidden;
  width: 150px;
  height: 250px;
}

#container {
  background-color: red;
  height: 150px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

}

.child {
  margin: 10px;
}
