.header {
    text-decoration: underline wavy;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-variant: small-caps;
    color: #9028ff
}

.otherHeader {
    color: #3918AA
}

#except {
    color: #F382FA
}
